<h1>Remora Datavision</h1> 

<p>
    <form action="" method="get" class="/Home/Index">
        <select name="remoraId">
            <option></option>
            @foreach(var dive in ((List<hermes_datavision.DAL.Remora>)ViewData["dives"]))
            {
                <option value="@dive.RemoraId">@dive.RemoraId - @dive.CreationDate</option>
            }
        </select>
        <input type="submit" />
    </form>
</p>


@if(ViewData["chartDepth"] != null && ViewData["chartDegrees"] != null)
{
    <h2>Depth</h2>
    <div><canvas id="chartDepth"></canvas></div>

    ChartJSCore.Models.Chart chartDepth = (ChartJSCore.Models.Chart)ViewData["chartDepth"];
    
    <h2>Degrees</h2>
    <div><canvas id="chartDegrees"></canvas></div>

    ChartJSCore.Models.Chart chartDegrees = (ChartJSCore.Models.Chart)ViewData["chartDegrees"];

    @section Scripts {
        <script src="~/lib/Chartjs/chart.min.js"></script>
        <script>
            @Html.Raw(chartDepth.CreateChartCode("chartDepth"));
            @Html.Raw(chartDegrees.CreateChartCode("chartDegrees"));
        </script>
    }
}
